// font-size
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-lg: 20px;
$font-size-xlg: 24px;
$font-size-2xlg: 28px;
$font-size-3xlg: 32px;
$font-size-4xlg: 36px;

// font-weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// color
$color-error: #cc0000;
$color-gray: #efefef;
$color-gray-normal: #a0a0a0;
$color-gray-dark: #606060;
